.container {
    display: flex;
    flex-wrap:wrap;
    height:300px;
    width: 250px;
}

.grid-item {
    height: 50px;
    flex-basis:calc(100% / 3);
    padding: 10px;
}

.action-button {
    height: 50px;
    flex-basis:calc(100% / 2);
    padding: 10px;
}

#number_dialed {
    width: 250px;
}

.card {
    height: 20px;
    margin: 5px;
    background: lightgray;
    padding: 5px;
    display: inline-block;
}

#contact_content {
    width: 650px;
}

#add_form {
    width: 500px;
}